.weekly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  align-content: space-between;
}

.weekly__icon {
  width: 70px;
}

.cities__icon {
  color: white;
}

.weekly__content {
  flex-grow: 1;
  padding: 40px;
}

.weekly__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.weekly__number {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 10px;
  text-transform: uppercase;
  padding-top: 10px;
}

@media (max-width: 1037px) {
  .weekly__content {
    padding: 20px;
  }
}

@media (max-width: 811px) {
  .weekly__content {
    padding: 10px;
  }
}