.daily {
  display: flex;
}

.info {
  width: 50%;
}

.info__city {
  color: #fff;
  font-size: 4.5rem;
  margin: 0;
  text-transform: uppercase;
  float: left;
  padding-right: 100%;
}

.info__name {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  float: left;
  padding-right: 100%;
}

.info__date {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  float: left;
  padding-right: 100%;
  margin-top: 5px;
}

.info__wind {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform:capitalize;
  margin: 0;
  float: left;
  margin-top: 5px;
}

