.daily {
  box-sizing: border-box;
  display: flex;
}

.info { 
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.info__city {
  color: #fff;
  font-size: 4.5rem;
  margin: 0;
  text-transform: uppercase;
  float: left;

}

.info__name {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.info__date {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
}

.info__wind {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform:capitalize;
  margin: 0;
  margin-top: 5px;
}

.icons {
  font-size: 160px;
  color:#fff;
  margin-bottom: 40px;
}

.weather__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 10px;
  text-transform: uppercase;
}

.daily__text {
  display: flex;
  align-items:flex-end;
}

.weather__number {
  color: #fff;
  font-size: 7rem;
  font-weight: 700;
  padding-left: 50px;
}

@media (max-width: 1003px) {
  .daily__text {
    margin-top: 180px;
    margin-left: -140px;
    align-items:flex-start;
    z-index: 999;
  }

}

@media (max-width: 1003px) {
  .weather__number {
    padding-top: 100px;
    font-size: 5rem;
    padding-left: 20px;
  }

}

@media (max-width: 661px) {
  .weather__number {
    padding-top: 100px;
    font-size: 4rem;
    padding-left: 2px;
  }

  .daily__text {
    margin-top: 220px;
    margin-left: -140px;
    align-items:flex-start;
    z-index: 999;
  }

}