.App {
  width: 100%;
  height: 100vh;
  background: rgb(61,201,192);
  background: linear-gradient(0deg, rgba(61,201,192,1) 0%, rgba(0,114,140,1) 100%);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  color:#ffffff;
  font-weight: 300;
  text-transform: uppercase;
}

.wrapper {
  min-width: 85%;
  text-align: center;
  padding-top: 5%;
}

.container {
  position: relative;
  margin: auto;
  padding: 35px;
  border-radius: 10px;
  width: 50%;
  background-color:#ffffff60;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #349cae63;
    z-index: 1;
    clip-path: ellipse(100% 98% at 100% 98%);


}

.weekly {
  min-height: 170px;
  margin-top: 30px;
}

.daily {
  min-height: 300px;
}